.green-background {
    background-color: green;
  }
  
  .yellow-background {
    background-color: yellow;
  }
  
  .red-background {
    background-color: red;
  }

  .grey-background {
      background-color: rgb(46, 46, 46);
      color: white;
  }